.game--main {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10rem;
	color: white;
}
/* The roll container */
.game--container {
	width: 100%;
	display: flex;

	gap: 10rem;
	justify-content: center;
	align-items: center;
}
/* The roller */
.game--roller {
	color: white;
	width: 100%;
	max-width: 20rem;
	display: flex;
	gap: 2rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* The h2 margins */
.game--roller > h2 {
	margin: 0;
}
/* The image */
.game--roller > img {
	color: white;
	width: 10rem;
	height: 10rem;
}