<div class="global--dimbg game--main" id="game__main">
	<h1>Game</h1>
	<div class="game--container">
		<!-- Item container -->
		<div class="game--roller">
			<h2 id="game__item_name"></h2>
			<img id="game__item_img" src="" alt="Item">
			<button id="game__item_stop" class="global--button">Stop</button>
		</div>
		<!-- Mob container -->
		<div class="game--roller">
			<h2 id="game__mob_name"></h2>
			<img id="game__mob_img" src="" alt="Item">
			<button id="game__mob_stop" class="global--button">Stop</button>
		</div>
	</div>
	<button class="global--button" id="game__next" disabled="true">
		Next
	</button>
</div>
<script src="/src/game.js"></script>