<div class="global--dimbg payment--main" id="lose__main">
	<div class="payment--container">
		<div class="payment--money-icon">
			<img class="payment--money-image" src="/assets/global/currency.png" alt="<?php echo $strings['currency']; ?>(s)">
			<div class="payment--money-text-container" aria-hidden="true">
				<span class="payment--money-text">0</span>
			</div>
		</div>
		<div class="payment--text-container">
			<h1>So close!</h1>
			<p>So close! Try to win and take my <%= data.currency_plural %>! (:</p>
			<button class="global--button" id="lose__gohome">Go home</button>
		</div>
	</div>
</div>
<script src="/src/lose.js"></script>