<div class="global--bg title--main" id="title__main">
	<div class="title--minecraft-title-container">
		<img class="title--minecraft-title" src="/assets/title/title.png" alt="minecraft logo" />
		<div class="title--minecraft-title-subtitle-container">
			<span class="title--minecraft-title-subtitle" id="title__title_sub"></span>
		</div>
	</div>
	<div class="title--button-wrappers">
		<div class="title--button-select">
			<button class="global--button" id="title__play">Play</button>
			<button class="global--button" id="title__credits">Credits</button>
		</div>
	</div>
</div>
<script src="/src/title.js"></script>